<div class="container p-5">
  <h3>{{ title }}</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
  </p>

  <div class="row d-flex mb-3">
    <div class="col-md-6">
      <div class="" class="search">
        <i class="fa fa-search"> </i>
        <input
          type="text"
          class="form-control"
          placeholder="Search for a Customer"
          (keyup)="filterCustomers($event)"
        />
      </div>
    </div>
  </div>

  <!-- Add and View All Customers -->
  <app-customer-card
    [customers]="filteredCustomers"
    class="row"
  ></app-customer-card>
</div>
